<section class="intro">
  <div class="container">
    <p class="lead" >
    <p class="lead" style="font-size:100%;">
      <small> 
        Hello! My name is Stefanie, I am currently working as a predoctoral researcher at the Brainlab – Cognitive Neuroscience Research Group at the University of Barcelona, and I have put together this page here as a sort of online portfolio. Working in neuroscience, I have learned a lot about data science, and I decided to make some projects for fun and/or to learn how to translate my skills into other areas. Yes, I will be looking for a job very soon! Get in touch!
      </small>
      <br>
      <img style="width:30%" src="/images/steffi.jpeg" alt="This is me.">
      <br>
      <small> stefaniesturm[at]outlook.com </small>
      <br>
      <small> Follow me on Twitter <a href="https://twitter.com/sturm_steffi" target="_blank" rel="noopener noreferrer">@sturm_steffi</a> </small>
    </p>
  </div>
</section>
