<section class="intro">
  <div class="container">
    <p class="lead" >
    <p class="lead" style="font-size:100%;">
      <small> 
        Hello! My name is Stefanie, I am currently working as a postdoctoral researcher at the  <a href="http://www.ub.edu/brainlab/" target="_blank">Brainlab</a> Cognitive Neuroscience Research Group at the University of Barcelona, and I have put together this page here as a sort of online portfolio. Get in touch!
      </small>
      <br>
      <small> stefaniesturm[at]outlook.com </small>
      <br>
      <small> Follow me on Twitter <a href="https://twitter.com/sturm_steffi" target="_blank" rel="noopener noreferrer">@sturm_steffi</a> </small>
    </p>
  </div>
</section>
