
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
      <li><a href="{{ '/academic' | prepend: site.baseurl | prepend: site.url }}">Academic</a></li>
      <li><a href="{{ '/curriculum' | prepend: site.baseurl | prepend: site.url }}">Curriculum</a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl | prepend: site.url }}">Data projects</a></li>
      <li><a href="{{ '/writing' | prepend: site.baseurl | prepend: site.url }}">Writing</a></li>
      <li><a href="{{ '/drawings' | prepend: site.baseurl | prepend: site.url }}">Drawings</a></li>
    </ul>
  </div>
</nav>
